body {
    font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 20px;
}
.h1 {
    margin-bottom: 50px;
}

/*section*/
.section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;


}

/*slogan*/
.slogan {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    text-align: center;

}

.slogan-text {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slogan1 {
    font-size: 5vw;
    color: black;
    font-weight: bold;

}

#slogan2 {
    font-size:2.2vw;
    color:black;
}



/*gallery*/
.carousel-inner img {
      width: 100%;
      height: 100%;
  }


/*testimonal*/
.card{
    margin: 30px;
    padding: 10px;
}
.body-text {
    font-family: 'raleway', sans-serif;
    font-weight: bold;
}


.title {
    font-size: 2rem;
}
@media (min-width: 767px) {
    .title {
        font-size: 2.5rem;

    }
}